<html>
<body>
<header>
	<title> COURIER TRACKING SYSTEM</title>
	<h1>COURIER TRACKING SYSTEM</h1>
	<h2> Hello, {{email}}</h2>
</header>
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='/main.css') }}">
<form action="/home" method="POST">
	<br>
	<a href="imgvideos" style="color: white;">Links for sample images and videos </a> <br>
	<br>
<input type="submit" name="submit_button" value="View visits"> <br>
	<input type="submit" name="submit_button" value="Contact"> <br>
	<input type="submit" name="submit_button" value="Log out">
</form>
</body>
</html>